.btn{
    padding: 10px;
    height: 150px;
    width: 150px;
    color: white;
    background-color: #f6012e;
    border: black 3px solid;
    border-radius: 50%;
    font-weight: bold;
}
.btn-restart{
    background-color: rgb(40, 40, 220);
}
.btn-holder{
    align-items: center;
    display: flex ;
    justify-content: center;

}
